<% puts "entro aca en show " %>

  
   <% if (@user.sign_in_count == 0 && @user.user_type_id == 5) || (@user.user_type_id == 5 && !@hayTeacher) %>                                                                                       
        <%= render :partial => 'teachers/form', :object => @teachers %>
   <%end%>

   <% if(@user.sign_in_count == 0 && @user.user_type_id == 4) || (@user.user_type_id == 4 && !@hayStudent)  %>                                                                                       
        <%= render :partial => 'students/form', :object => @students %>
   <%end%>
  
<div class="field">
     <%= image_tag @user.cover.url(:mini) %> 
</div>


<%=  @user.name %> <br/>

<%=  @user.email %><br/>

<%=  @user.user_type.nombre_user_type %>
<br/>
  <%if  @user.user_type_id == 5 && @hayTeacher %>
  <%= @universityT.nombre_university  %>
  <% elsif @user.user_type_id == 4 && @hayStudent %>
     <%= @university.nombre_university  %>
<%end%>