<p id="notice"><%= notice %></p>

<h1>Category As</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_as.each do |category_a| %>
      <tr>
        <td><%= category_a.name %></td>
        <td><%= category_a.color %></td>
        <td><%= link_to 'Show', category_a %></td>
        <td><%= link_to 'Edit', edit_category_a_path(category_a) %></td>
        <td><%= link_to 'Destroy', category_a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category A', new_category_a_path %>
