<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre project:</strong>
  <%= @project.nombre_project %>
</p>

<p>
  <strong>Descripcion project:</strong>
  <%= @project.descripcion_project %>
</p>

<p>
  <strong>Califiacion projeact:</strong>
  <%= @project.califiacion_projeact %>
</p>

<p>
  <strong>Estado project:</strong>
  <%= @project.estado_project %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Spectator:</strong>
  <%= @project.spectator %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
