<div id="dialog-form" title="Guardar Universidad">
  <p class="validateTips">Selecciona la universidad a la que perteneces </p>

<%= form_with(model: @student, local: true) do |form| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <fieldset>
   <%= form.collection_select(:university_id, University.all, :id, :nombre_university) %>
    </fieldset>
     <h6>Si no encuentras tu universidad registra una nueva en el botón Crear</h6>
    <div class="actions">  
  <%= form.submit :value => "Guardar Universidad", :class => 'ui-button ui-corner-all ui-widget', :style=> 'position:absolute; top:250px', :tabindex=> '-1' %> 
  </div>
  
 
<% end %>
 <button class = 'ui-button ui-corner-all ui-widget' 
   style="position:absolute; top:250px; right:20px">Crear Universidad</button> 
  </div>
